* {
    padding: 0px;
    margin: 0px;
}

#main-div {
    background-image: linear-gradient(to right, #0c9b97, #2b3559);
    min-width: 300px;
    max-width: 100%;
    height: 600px;
    padding: 10px 0px 0px 0px;
}

li {
    display: inline;
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
    cursor: pointer;
}

#first-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li>a {
    text-decoration: none;
    color: rgb(243, 240, 240);
}

 .img {
    width: 600px;
    height: 400px;
    cursor: pointer;
} 

#second-div {
    margin-top: 80px;
    margin-left: 140px;
}

#main-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#second-part {
    margin-top: 150px;
    width: 350px;
    text-align: right;
    font-size: 35px;
    color: white;
}

h2 {
    color: yellow;
    margin-bottom: 20px;
}

button {
    background-image: linear-gradient(to right, #0c9b97, #2b3559);
    width: 130px;
    border: 2px solid rgb(252, 252, 237);
    padding: 8px;
    cursor: pointer;
    margin-top: 35px;
    border-radius: 5px;
    color: yellow;
    margin-left: 30px;
}

h6 {
    color: yellow;
    padding: 8px 13px 8px 13px;
    font-size: 13px;
    display: inline;
    border: 2px solid rgb(252, 252, 237);
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0c9b97, #2b3559);
}

#third-div{
    display: flex;
    justify-content:space-around;
    flex-direction:row ;

   
}
h5{
    border: 2px dotted ;
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
    display: inline;
    margin-left: 100px;
    margin-top: 60px;
    
}
h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
   
}
h1+p{
    font-size: 20px;
    color: rgb(173, 172, 172);
    text-align: center;
    margin-bottom: 40px;
}
h5+p{
    width: 270px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fourth-div{
    background-color: #2b3559;
    color: white;
    line-height: 20px;
   
}
#section-1{
    display: flex;
    justify-content:space-evenly;
    flex-direction:row ;
}
h3+p{
    width: 270px;
  
    text-align: left;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-icon{
margin-left: -37px;
cursor: pointer;

}
#part-section-2{
    
    justify-content: space-evenly;
}
#second-part-2 {
  
    width: 450px;
    text-align: right;
    font-size: 35px;
    color: white;
  
}
#main-div-5 {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
  
}
.h1-1{
  margin-top: 30px;
}
#second-div-2 {
    margin-top: 60px;
    margin-left: 80px;
    margin-bottom: 40px;
}
.para-1{
    color: black;
     font-size: 20px;
      text-align: left;
       margin-left: 20px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#benifits{
   background-image: linear-gradient(to right, #0c9b97, #2b3559); 
   color: white;
}
.para-3{
    width: 270px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h3-1{
  margin-left: 60px;
}

input{
    display: block;
    margin-bottom: 30px;
   border: 1px solid gray;
    padding: 10px ;
    border-radius: 5px ;
    width: 300px;
 
}

#contact-div{
    display: flex;
   justify-content:center;
   margin-top: 30px;
    
  
   
}
textarea{
    width: 240px;
    height: 170px;

    border-radius: 5px;
}
.submit{
    margin-bottom: 30px;
    border: 1px solid gray;
     padding: 10px ;
     border-radius: 5px ;
     width: 100px;
     margin: auto;
     cursor: pointer;
     background-color: #0c9b97;
  
}
#footer{
    background-color: black;
    display: flex;
    justify-content:space-evenly;
    flex-direction:row ;
    padding: 10px;
    margin-top: 30px;
}